/*Your styles*/

 body {
    margin: 10px;
}



.row {

}
#content {
width:100%;
  display:flex;


  #save {
    position:absolute;
    bottom:10px;
    left:10px;

  }
}


select { width:100%;}





